/* Footer.css */
.footer-container {
    background-color: #1e1e1e; /* Dark background */
    width:100%;
    padding: 20px 50px;
    text-align: center;
    color: #fff;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-link {
    color: #01d28e;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #00b27e;
  }
  
  .footer-credits {
    font-size: 0.9em;
    color: #aaa;
  }
  
  .footer-credits p {
    margin: 0;
  }
  